# READ! This is a user daemon, start with:
# systemctl --user start todolist-mariadb.service
# systemctl --user status todolist-mariadb.service
[Unit]
Description=todolist-mariadb service
After=mariadb.service

[Service]
Type=oneshot
WorkingDirectory=/home/test/todolist-mariadb-go
ExecStartPre=go mod tidy
ExecStart=go run todolist.go
Restart=always
PIDFile=/tmp/todolist_pid
User=test
Group=test

[Install]
WantedBy=basic.target
